<html>
  <head>
    <title>Mon title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
        <h1>File</h1>
        <% if (user) { %>
          <img src=<%= user.avatar %>>
        <% } %>
        <form class="d-flex flex-column card w-50" method="post" action="/file" enctype="multipart/form-data">
          <div class="card-body">
            <div class="form-group">
              <input type="file" name="avatar" />
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>